*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background :black
}
.container{
    /* width: 90%;
    height: 550px; */
    /* border: 2px solid white; */
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 50px;
    /* margin-left: 60px; */
    color: white;
    /* background-color: rgb(40, 17, 61); */
    border-radius: 50px;

}
.logo{
   padding-bottom: 10px;
   font-size: 50px;
}
#main-heading{
    font-size: 40px;
}
#user-name{
    font-size: 30px;
}
h3{
    padding-top: 20px;
    font-size: 30px;
}
input{
    color: white;
    width: 400px;
    height: 35px;
    font-size: 20px;
    border-color: white;
    margin-top: 30px;
    margin-bottom: 20px;
}
.category1{
    display: flex;
    


}

.pipe{
    height: 40px;
    width: 250px;
    margin-top:20px;
    margin-left: 50px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;


}
.category2{
    display: flex;
}
.pipe:hover{
    color: brown;
    background-color:green;
    width: 400;
    height: 60px;
    font-size: 25px;
    
}
.welcome_form{
    margin: 50px;
    height: 40px;
    width: 250px;
    color: white;
    font-size: 30px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 80px;
    transition: 0.3s  ;
    
}
.welcome_form:hover{
    color: black;
    background-color: red;
    width: 500px;
    height: 60px;
    font-size: 40px;
    
}

/* quiz.html */

